body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right top, #051937, #7a007a, #008793, #00bf72, #a8eb12);
}

.container {
 /* min-height: 100vh; height of the browser viewport */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  .header{
    flex:1 0 100%;
    order: 1; 
    text-align: center;
    height: 100px;
  }
  
  .topleft {
    flex:0 0 50%;
    order: 2; 
    text-align: center;
    height: 30%;
  }

.topright {
    flex:0 0 50%;
    order: 3; 
    text-align: center;
    height: 30%;
    

}

.bottomleft {
    flex:0 0 50%;
    order: 4; 
    text-align: center;
    height: 30%;
} 

.bottomright {
    flex:0 0 50%;
    order: 5; 
    text-align: center;
    height: 30%;

}

footer {
    flex: 1 0 100%;
    order: 6;
    text-align: center;

}

#time {
  font-size: 50px;
}

.btns-container {
  margin: 10px 0;
}


button {
    color: #fff;
    border: none;
    border-radius: 50px;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    padding: 0.8em 2em;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    cursor: pointer;
}

button:hover {
  filter: grayscale(0.7);
}
button:focus {
  outline: none;
}

#start_btn {
  background: green;
}
#pause_btn {
  background: blue;
  display: none;
}
#reset_btn {
  background: red;
  display: none;
}

#share_btn {
    background: greenyellow;
    color: black;
  }

  #share-text {
      display: none;
  }